@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --tomato: hsl(4, 100%, 67%);

  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--charcoal-grey);
}

p {
  font-size: 16px;
}

.sign-up {
  margin: auto;
  display: flex;
  flex-direction: row;
  max-width: 750px;
  background-color: var(--white);
  padding: 20px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
  -webkit-box-shadow: 0px 6px 38px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 38px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 38px -8px rgba(0, 0, 0, 0.75);
}
.desktop-image img {
  max-width: 333px;
}
.mobile-image {
  display: none;
}
.sign-up_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  color: var(--charcoal-grey);
}
.sign-up_heading h1 {
  font-size: 30pt;
}

.sign-up_heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sign-up_heading p {
  font-size: 14px;
}
.sign-up_heading ul {
  font-size: 14px;
  list-style-type: none;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.sign-up_heading ul li {
  padding-left: 1.5rem;
  background-image: url(./assets/images/icon-list.svg);
  background-size: 1rem;
  background-repeat: no-repeat;
}

.sign-up_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 32px;
  gap: 6px;
}
#error_span {
  color: var(--tomato);
}
.hidden {
  display: none !important;
}

.sign-up_form input {
  border: 1px solid var(--grey);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 18px 14px;
}
.sign-up_form input::placeholder {
  color: var(--grey);
}
.sign-up_form input:focus {
  outline: 1px solid black;
}
.error_email {
  border: 1px solid var(--tomato) !important;
}
.error_email::placeholder {
  color: var(--tomato) !important;
}

.sign-up_form button {
  margin-top: 16px;
  padding: 16px 0;
  background-color: var(--dark-slate-grey);
  color: var(--white);
  font-weight: 700;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  background-size: 300% 100%;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
}
button:hover {
  background-image: linear-gradient(
    to right,
    #f07a19 0%,
    #f354be 51%,
    #f07a19 100%
  );
  box-shadow: 0 6px 20px var(--tomato);
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
button:active {
  background-position: 0% 100%;
  box-shadow: 0 0 6px var(--tomato);
}

.success {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  background-color: var(--white);
  padding: 40px 48px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
  -webkit-box-shadow: 0px 6px 38px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 6px 38px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 6px 38px -8px rgba(0, 0, 0, 0.75);
  color: var(--dark-slate-grey);
}

.success img {
  max-width: 52px;
  margin-bottom: 40px;
}
.success h1 {
  font-size: 48px;
  line-height: 3rem;
  margin-bottom: 24px;
}
.success p {
  font-size: 13px;
  line-height: 1.2rem;
  margin-bottom: 32px;
}
#email_span {
  font-weight: 700;
}
.success button {
  padding: 16px 0;
  background-color: var(--dark-slate-grey);
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
  background-size: 300% 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100vw;
  color: var(--white);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 630px) {
  .sign-up {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 100vw;
    height: calc(100vh*2);
    padding: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  .desktop-image {
    display: none;
  }
  .mobile-image {
    display: block;
    max-width: 475px;
    margin: 0 auto;
    width: 100vw;
  }
  .sign-up_content {
    margin-top: 3rem;
    padding: 0 1.5rem;
    gap: 1rem;
  }
  .sign-up_heading h1 {
    font-size: 30pt;
  }

  .sign-up_heading p {
    font-size: 16px;
  }
  .sign-up_heading ul {
    font-size: 16px;
  }

  .attribution {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
